*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.header{
    background-color: cadetblue;
    
    font-weight: 500;
}

#homeslide{
    height: 350px !important;
}

#homeslide .carousel-caption{
    top: 10rem;
    font-weight: 900;
    color: black;
}
#homeslide #off{
    font-weight: 800;
    font-size: 45px;
   
}
#homeslide .carousel-item{
    height: 550px;
}


#homeslide  #shop{
    border: none;
    background-color: transparent;
    font-weight: 400;
    box-shadow: 0 0 2px 0 rgb(96, 94, 94);
    border-radius: 5px;
    padding: 8px;
    transition: 0.2s ease-in-out;
}

#homeslide  #shop:hover{
    background-color: red;
    color: white;
  
}


#adder, #reduce{
    padding: 3px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    background-color: transparent;
    
}

#recent {
     padding: 4%;
    display:flex;
    position: relative;
    margin-top: -4%;
    justify-content: space-around;
}
#Viwed{
    margin-top: 15%;
}
#recent-items{
    width:80%;
    height:auto;
}
#section4{
    background-color:#fbfbfb;
}
.img{
    min-height: 700px;
}
#trend {
    display: flex;
    padding: 4%;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
#trendimage{
    height: 500px;
    position: relative;
  
    transition: transform .2s;
    transition: 0.5s ease-in-out;
}
#trendimage:hover{
    filter:blur(2px);
    transform: scale(1.1);
}

.banner-info{
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 9;
    padding: 28px  12px;
    color: aliceblue;
}
#all{
    display: flex;
    flex-wrap: wrap;
}
#tabs{

    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
}


#mobiletaber{

    display: flex;
    flex-wrap: wrap;
}
#others{

    display: flex;
    flex-wrap: wrap;
}

#sectiontoggle {
position: relative;
text-align: center;
padding-top: 4%;
background-color: rgb(255, 255, 255);
}
#btn1,#btn2,#btn3{
    text-align: center;
    justify-content: space-evenly;
    padding: 4px;
    margin-left: 4%;
    border-radius: 18px;
    border: none;
    box-shadow: 0 0 20px 0 black;
    background-color: transparent;
    margin-bottom: 4%;
    font-size: 30px;
    font-weight: 700;
    

}

#cart{
    margin-left:8%;
    color: coral;
}
#myaccount{
    color: red;
    background-color: antiquewhite;
    border-radius: 12px;
   
}
#recent-items{
    transition: 0.5s ease-in-out;
}

#recent-items:hover{
    transform: scale(1.1);
}
#tred{
    
    color: chartreuse;
}



