@media (max-width:767px) and (min-width:280px){
    #homeslide .carousel-caption{
        top: 13rem;
        font-size: 20px;
    }
    #recent,#trend{
        
        flex-wrap: wrap;
    }
    #trendimage:hover{
        filter:blur(2px);
        transform: scale(1.1);
    }
    #off{
        font-size: 20px;
    }
    #Account {
   
    margin-left: 10%;
    }
}
@media (max-width:1024px){
    #homeslide .carousel-caption{
        top: 1rem;
        font-size: 20px;
    }
    #off{
        font-size: 20px;
    }
}
